.margin-top-10 {
  margin-top: 10%;
}
.custom-bg-dark {
  background-color: #202020;
}
.custom-color {
  color: #ec7e4a;
}
.angled-background {
  /* margin-top: 10%; */
  background: url("/imgs/angled_bg.png") center/cover no-repeat;
  height: 80vh; /* Adjust as needed */
  /* clip-path: polygon(0 90%, 100% 100%, 100% 10%, 0 0); */
  /* clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%); */
  /*               (top-left, top-right, bottom-right, bottom-left ) */
  clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: stretch;
  gap: 15%;
  transition: all 400ms;
}
.custom-card {
  height: 70%;
}
.card-2 {
  translate: 0 60px;
}
.card-3 {
  translate: 0 120px;
}
