.accordion-item {
  border: 2px solid #000000 !important;
  margin: 5% 0;
}
.accordion-body,
.accordion-button {
  background-color: #ffffff;
  color: #000000 !important;
  background-color: #ffffff ;
  /* background-color: #0000006b; */
  color: aliceblue;
  text-align: left !important;
}
.accordion-body{
  color:#CB8778 !important;
}

.accordion-button::after {
  filter: brightness(1) invert(0);
}

.accordion-button {
  font-weight: bolder;
}

.accordion-button:focus {
  box-shadow: none !important; /* Removes Bootstrap's default focus shadow */
  outline: none !important; /* Removes the outline */
  border-color: transparent !important; /* Ensures no border appears */
}
/* .accordion-button:not(.collapsed) {
  border: 2px solid #000000;
} */
