@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500&display=swap');

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
}

/* carousel */
.carousel-PT {
  height: 100vh;
  width: 100%;
  overflow: visible;
  position: relative;
  transition: background-image 0.5s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-PT .logo-FP {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 450px;
  z-index: 30;
}

/* content overlay */
.carousel-PT .content-overlay {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  color: #fff;
  text-align: left;
  max-width: 401px;
  z-index: 20;
  transition: opacity 2s ease; /* إخفاء في 2 ثانية */

}

/* animations for content */
.carousel-PT .title-PT,
.carousel-PT .quote-PT,
.carousel-PT .description-PT,
.carousel-PT .read-more-btn {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.carousel-PT .title-PT.animate {
  animation: fadeIn 1s ease-out forwards;
}

.carousel-PT .quote-PT.animate {
  animation: fadeIn 1s ease-out 0.5s forwards;
}

.carousel-PT .description-PT.animate {
  animation: fadeIn 1s ease-out 1s forwards;
}

.carousel-PT .read-more-btn.animate {
  animation: fadeIn 1s ease-out 1.5s forwards;
}

/* تنسيق title */
.carousel-PT .title-PT {
  font-size: 9rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

/* تنسيق quote و description */
.carousel-PT .quote-PT {
  font-size: 3rem;
  color: #ec7e4a;
  width: 160%;
}
.carousel-PT .description-PT {
  font-size: 3rem;
  width: 175%;
  color: #fff;
}

.carousel-PT .read-more-btn {
  background-color: #ec7e4a;
  color: #fff;
  border: none;
  padding: 10px 160px;
  font-size: 3rem;
  border-radius: 80px;
  cursor: pointer;
  opacity: 0;
  transition: background-color 0.3s ease;
  margin-top: 50px;
  font-weight: 500;
  letter-spacing: .9px;
  text-wrap: nowrap;
}

.carousel-PT .read-more-btn:hover {
  border-color: #ff8c00;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.8);
}

/* animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* slider container */
.carousel-PT .slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 170px;
}

/* list */
.carousel-PT .list-PT {
  display: flex;
  position: relative;
  transition: transform 0.5s ease;
  justify-content: center;
  align-items: center;
}

/* item */
.carousel-PT .item-PT {
  width: 900px;
  height: 900px;
  position: absolute;
  opacity: 0.6;
  transition: opacity 0.5s ease, transform 0.5s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: visible;
  left: 35%;
}

/* active item */
.carousel-PT .item-PT.active-PT {
  opacity: 1;
  z-index: 10;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  transform: translateX(0) scale(1) ; /* هنا كان التعارض */
  position: relative;
}

/* thumbnail image */
.carousel-PT .item-PT .thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(70%);
  transition: all 1s ease ;
}

/* thumbnail counter */
.carousel-PT .thumbnail-counter {
  font-size: 80px;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: opacity 2s ease; /* إخفاء في 2 ثانية */
  z-index: 15;
  position: absolute;
  bottom: 25px;
  left: 30px;
  font-family: sans-serif;
}

/* arrows */
.carousel-PT .arrows-PT {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 15;
  transform: translateY(-50%);
  transition: opacity 2s ease; /* إخفاء في 2 ثانية */

}

.carousel-PT .arrows-PT button {
  background: transparent;
  color: #fff;
  border: none;
  padding: 0 10px;
  font-size: 130px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  line-height: 1;
}

.carousel-PT .arrows-PT button:first-child {
  position: absolute;
  left: -50px;
  opacity: 0.6;
  
}

.carousel-PT .arrows-PT button:last-child {
  position: absolute;
  right: -50px;
  opacity: 0.6;
}

.carousel-PT .arrows-PT button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.8);
}

/* dots */
.carousel-PT .dots-PT {
  position: absolute;
  bottom: 200px;
  left: 64%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
  transition: opacity 2s ease; /* إخفاء في 2 ثانية */
}

.carousel-PT .dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.carousel-PT .dot.active-dot {
  background: #fff;
}

/* Media queries */


@media (max-width: 1800px) {
  .carousel-PT .item-PT {width: 500px;height: 500px;}
  .carousel-PT .title-PT { font-size: 7.5rem; }
  .carousel-PT .description-PT { font-size: 2.8rem; width: 150%; }
  .carousel-PT .quote-PT {font-size: 2.8rem; width: 150%;}
  .carousel-PT .arrows-PT {top:40%}
  .carousel-PT .thumbnail-counter {font-size: 60px;}
  .carousel-PT .read-more-btn {  padding: 10px 100px;font-size: 2.8rem;}
}


@media (max-width: 1400px) {
  .carousel-PT .item-PT {width: 400px;height: 400px;left: 105px;}
  .carousel-PT .title-PT { font-size: 6.5rem; }
  .carousel-PT .description-PT { font-size: 2.3rem; width: 120%; }
  .carousel-PT .quote-PT {font-size: 2.3rem; width: 120%;}
  .carousel-PT .arrows-PT {top:40%}
  .carousel-PT .thumbnail-counter {font-size: 60px;}
  .carousel-PT .read-more-btn {  padding: 10px 140px;font-size: 2.3rem;}
  .carousel-PT .dots-PT { bottom: 250px; left: 69%; }


}
@media (max-width: 1024px) {
.carousel-PT .content-overlay {top: 35%;left: 300px;max-width: 401px;z-index: 20;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.carousel-PT .item-PT {width: 400px;height: 400px;left: -200px;top: 345px;}
.carousel-PT .dots-PT {bottom: 60px;left: 45%;}
.carousel-PT .title-PT {font-size: 7rem; text-wrap: nowrap;}
.carousel-PT .read-more-btn{margin-left:-65px}
.carousel-PT .arrows-PT button:first-child {left: -35px;}
.carousel-PT .arrows-PT button:last-child {right: -35px;}
}
@media (max-width: 920px) {
  .carousel-PT .content-overlay {left: 250px;}
  .carousel-PT .item-PT {width: 400px;height: 400px;left: -230px;top: 345px;}

}
@media (max-width: 800px) {
  .carousel-PT .content-overlay {left: 200px;}
  .carousel-PT .item-PT {left: -170px;}
  .carousel-PT .dots-PT {left: 50%;}
  .carousel-PT .logo-FP {width: 350px;}

}
@media (max-width: 700px) {
  .carousel-PT .content-overlay {left: 150px;}
  .carousel-PT .title-PT {font-size: 6.3rem;}
  .carousel-PT .item-PT {width: 400px;height: 400px;top: 335px;left: -150px;}
  .carousel-PT .quote-PT {font-size: 2.3rem;width: 130%;
    .carousel-PT .logo-FP {width: 300px;}

}
}
@media (max-width: 600px) {
  .carousel-PT .item-PT {width: 300px;height: 300px;top: 280px;left: -180px;}
  .carousel-PT .content-overlay {left: 120px;}
  .carousel-PT .quote-PT {font-size: 2.3rem; width: 123%; margin-left: 10px;}

  .carousel-PT .dots-PT {bottom: 130px;left: 45%;}
  .carousel-PT .title-PT {font-size: 5.8rem; margin-left: -50px;}
  .carousel-PT .logo-FP {width: 300px;}

}
@media (max-width: 590px) {
  .carousel-PT .description-PT {font-size: 2rem;}
  .carousel-PT .quote-PT {font-size: 1.9rem; width: 110%; margin-left: -70px;}
  .carousel-PT .title-PT {font-size: 4.8rem; margin-left: -60px;}
  .carousel-PT .content-overlay {left: 100px;}
  .carousel-PT .item-PT {width: 300px;height: 300px;top: 300px;left: -150px;}
  .carousel-PT .dots-PT {bottom: 150px; left: 50%;}
  .carousel-PT .logo-FP {width: 300px;}


}
@media (max-width: 480px) {
  .carousel-PT .description-PT {font-size: 1.9rem; width: 120%; margin-left: -70px;}
  .carousel-PT .quote-PT {font-size: 1.9rem; width: 110%; margin-left: -70px;}
  .carousel-PT .title-PT {font-size: 4.4rem; margin-left: -60px;}
  .carousel-PT .read-more-btn {  padding: 10px 140px;font-size: 1.9rem;}
  .carousel-PT .content-overlay {left: 100px;}
  .carousel-PT .item-PT {width: 300px;height: 300px;top: 300px;left: -150px;}
  .carousel-PT .dots-PT {bottom: 150px; left: 50%;}
  .carousel-PT .logo-FP {width: 300px;}

}

@media (max-width: 480px) {
  .carousel-PT .description-PT {font-size: 1.5rem;width: 95%;margin-left: -70px;
}  .carousel-PT .quote-PT {font-size: 1.6rem; width: 110%; margin-left: -30px;}
  .carousel-PT .title-PT {font-size: 4rem; margin-left: -60px;}
  .carousel-PT .read-more-btn {  padding: 10px 110px;font-size: 1.6rem; margin-left: -90px;}
  .carousel-PT .item-PT {width: 250px;height: 250px; top: 230px; left: -160px;}
  .carousel-PT .dots-PT {bottom: 50px; left: 50%;}
  .carousel-PT .logo-FP {width: 250px;}
  .carousel-PT .thumbnail-counter {font-size: 30px;}


}

/* Hide class for overlay, arrows, dots, and counter */
.hide {
  opacity: 0;
  transition: opacity 2s ease; /* إخفاء في 2 ثانية */
}

